{% extends "NewsFeed/includes/wrapper.html" %}
{% block title %}Восстановление пароля{% endblock title%}
{% block content %}
{% if user.is_authenticated %}



{% else %}
<div class="container-fluid">
    <div class="row padding">
        <div class="col"></div>
        <div class="col-auto-md align-middle GameRoboText">
            <p>Пожалуйста укажите email на который зарегистрирован аккаунт.</p>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-md-auto">
            {% if form.email.errors %}
            <div class="alert alert-danger col-12" role="alert">
                <p>{{ form.email.errors }}</p>
            </div>
            {% endif %}
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-3">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label for="id_new_password1">Email: </label>
                        </div>
                        <div class="col-md-auto">
                            {{ form.email }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-auto">
                        <input class="btn btn-secondary" type="submit" value="Отправить ссылку">
                    </div>
                </div>
            </form>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endif %}
{% endblock %}