{% extends "NewsFeed/includes/wrapper.html" %}
{% block title %}Восстановление пароля{% endblock title%}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
        <div class="col-md-auto GameRoboText">
            <p>На вашу почту было выслано сообщение с ссылкой для сброса пароля</p>
        </div>
        <div class="col"></div>
    </div>
</div>
<script>
    setTimeout(function () { window.location = '{% url 'index' %}'; }, 2000);
</script>
{% endblock %}