{% extends "NewsFeed/includes/wrapper.html" %}
{% block title %}Смена пароля{% endblock title%}
{% block content %}
{% if validlink %}
<div class="container-fluid">
    <div class="row padding">
        <div class="col"></div>
        <div class="col-auto-md align-middle GameRoboText">
            <p>Пожалуйста, укажите новый пароль.</p>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-md-auto">
            {% if form.errors %}
            <div class="alert alert-danger col-12" role="alert">
                <p>{{ form.new_password1.errors }}</p>
                <p>{{ form.new_password2.errors }}</p>
            </div>
            {% endif %}
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-3">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label for="id_new_password1">Новый пароль: </label>
                        </div>
                        <div class="col-md-auto">
                            {{ form.new_password1 }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label for="id_new_password1">Повторите пароль: </label>
                        </div>
                        <div class="col-md-auto">
                            {{ form.new_password2 }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-auto">
                        <input class="btn btn-secondary" type="submit" value="Сменить пароль">
                    </div>
                </div>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
{% else %}
<div class="container-fluid">
    <div class="row padding">
        <div class="col text-center GameRoboText">
            <h1>Ошибка восстановления</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 GameRoboText">
            {% load staticfiles %}
            <div class="text-center"> <img src="{% static 'img/fail.jpg' %}" alt=""></div>
            <p>Ссылка по восстановлению пароля некорректна, возможно потому что она уже была использована.
                Пожалуйста, проверьте корректность ссылки или попробуйте отправить запрос еще раз.
            </p>
        </div>
        <div class="col-1"></div>
    </div>
</div>
{% endif %}
{% endblock %}