{% extends "NewsFeed/includes/wrapper.html" %}
{% block title %}Регистрация{% endblock title%}
{% block content %}
{% if form.non_field_errors %}
<script>
    {% for error in form.non_field_errors %}
    alert("{{ error }}");
    {% endfor %}
</script>
{% endif %}
<div class="container-fluid">
    <div class="row">
        <div class="col-3"></div>
        <div class="col">
            <form method="POST" action="{% url 'registration' %}">
                {% csrf_token %}
                {%for field in form %}
                <div class="form-group">
                    <!--Разобраться с сортировкой полей-->
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                    <div class="alert alert-danger"> {{ field.errors }}</div>
                    {% endif %}
                </div>
                {% endfor %}
                <input class="btn btn-secondary" type="submit" value="Регистрация">
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>
{% endblock %}