<nav class="navbar navbar-dark bg-dark navbar-expand-sm navbar-expand-md navbar-expand-lg">
    <div class="container-fluid">
        {% if user.is_authenticated %}
        <div class="navbar-header">
            <a href="#" class="nav-link">Привет {{ request.user.username }}</a>
        </div>
        {% endif %}
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="{% url 'index' %}" class="nav-link">Главная</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Новости
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for theme in themes %}
                        <a href="{% url 'by_theme' theme.pk %}" class="dropdown-item">{{ theme.name }}</a>
                        {% endfor %}
                        <div class="dropdown-divider"></div>
                        <a href="{% url 'my_news' user %}" class="dropdown-item">Мои новости</a>
                        <a href="{% url 'create' %}" class="dropdown-item">Создать</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link">Выйти</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url 'registration' %}" class="nav-link">Регистрация</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'login' %}" class="nav-link">Войти</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>