<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">{% load staticfiles %}
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto&display=swap" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <script language="javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script language="javascript" src="{% static 'js/main.js' %}"></script>
    <title>{% block title %}Главная страница{% endblock %}</title>
</head>

<body>
    {% include "NewsFeed/includes/header.html"%}
    <div class="padding"></div>
    {% block content %}
    {% endblock %}
</body>

</html>