{% extends "NewsFeed/includes/wrapper.html" %}
{% block title %}Редактирование новости{% endblock title%}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col">
            <form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {%for field in form %}
                <div class="form-group">
                    <div class="row">
                        <div class="col"> {{ field.label_tag }}</div>
                        <div class="col-5 text-right">
                            {% if field.help_text %}
                            <small>{{ field.help_text }}</small>
                            {% endif %}
                        </div>
                    </div>
                    {{ field }}
                    {% if field.errors %}
                    <div class="alert alert-danger"> {{ field.errors }}</div>
                    {% endif %}
                </div>
                {% endfor %}
                <input class="btn btn-secondary" type="submit" value="Изменить">
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>
{% endblock %}