{% extends "NewsFeed/includes/wrapper.html" %}{% block content %}
<div class="container-fluid">
    <div class="row">
        {% if user.is_authenticated %}
        {% include "NewsFeed/includes/feed.html"%}
    </div>
    <div class="row padding">
        <div class="col"></div>
        <div class="col-2 text-center">
            {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">&lt;</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            {% endif %}
            Страница №{{ page.number }} из {{ page.paginator.num_pages }}
            {% if page.has_next %}
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="?page={{ page.next_page_number }}">&gt;</a>
            {% endif %}
        </div>
        <div class="col"></div>
    </div>
    {% else %}
    <div class="col-1"></div>
    <div class="col text-center align-middle GameRoboText">
        <h2>Приветсвую тебя на нашем сайте,<br>
            чтобы продолжить работу, тебе необходимо
            авторизироваться.</h2>
    </div>
    <div class="col-1"></div>
    {% endif %}
</div>
</div>
{% endblock %}