{% extends "NewsFeed/includes/wrapper.html" %}{% block content %}
<div class="container-fluid">
    <div class="row text-center">
        {% if user.is_authenticated %}


        {% else %}
        <div class="col-1"></div>
        <div class="col align-middle GameRoboText">
            <h2>Приветсвую тебя на нашем сайте,<br>
                чтобы продолжить работу, тебе необходимо
                авторизироваться.</h2>
        </div>
        <div class="col-1"></div>
        {% endif %}
    </div>
</div>
{% endblock %}