{% extends "NewsFeed/includes/wrapper.html" %}{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- сделать проверку если создатель то около заголовка рендерить ссылку на редактирование
            внизу полосочка и под ней ник создателя и дата последней редакции    -->
        {% if user.is_authenticated %}
        <div class="col-2"></div>
        <div class="col">
            {% for item in news %}
            <div class="container-fluid padding">
                <div class="row">
                    <div class="col text-center">
                        <h1>{{ item.headline }}</h1>
                    </div>
                </div>
                <div class="row">
                    <p>{{ item.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-2"></div>
        {% else %}
        <div class="col-1"></div>
        <div class="col text-center align-middle GameRoboText">
            <h2>Приветсвую тебя на нашем сайте,<br>
                чтобы продолжить работу, тебе необходимо
                авторизироваться.</h2>
        </div>
        <div class="col-1"></div>
        {% endif %}
    </div>
</div>
{% endblock %}